body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 1em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

h1 {
    color: #333;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

img {
    max-width: 100px;
    height: auto;
}
